
/* MEDIA QUERIES */

@media (max-width: 2160px) {
  .trailer {
    color: red;
  }
}

@media (max-width: 2560px) { 
  .hero {
    padding-bottom: 5rem; 
  }
  .newsletter {
    margin-bottom: 15rem!important;
  }
}

@media (max-width: 1920px) {
  .trailer {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .newsletter {
    margin-bottom: 15rem!important;
  }
  .description {
    margin-bottom: 12rem!important;
  }
}

@media (min-width: 1200px) {
  .trailer {
    margin-top:-8rem !important;
    margin-bottom:5rem;
  }
  .newsletter {
    margin-bottom:15rem !important
  }
  .description {
    margin-bottom:10rem !important
  }
}

@media (max-width: 1088px) {
  .trailer {
    margin-top: 0rem!important;
    margin-bottom: 3rem!important;
    padding: 20px;
    height: auto;
    border-radius: 5px!important;
    .title {
      display: block!important;
    }
    iframe {
      height: 40vh!important;
    }
    .youtube img {
      width: 100%;
      top: -0%;
    }
  }
  .description {
    padding: 20px;
    margin-bottom: 1rem;
    .title {
      font-size: 2rem !important;
    }
  }
  .newsletter {
    text-align: center;
    margin-top: 5rem!important;
    padding: 10px!important;
    input {
      font-size: 1.2rem!important;
      &::placeholder {
        font-size: 1.2rem!important;
      }
    }
    .newsletter-btn {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      width: 25vw;
      font-size: .9rem!important;
      padding-left: 5px!important;
      padding-right: 5px!important;
    }
  }
  .hero {
    .hero-body {
      .logo {
        width: 150px;
      }
    }
    .navbar {
      .navbar-brand {
        justify-content: center!important;
        .navbar-item {
          img {
            margin-top: -6px!important;
          }
        }
      }
    }
  }
  .youtube .play-button,
.youtube .play-button:before {
	top: 50%!important;
}
}



