$darkBG: rgb(34, 41, 65);
$darkAccent: #2e3756;
$darkAccentLighter: #49596e;
$zeroRed: rgb(255, 44, 60);
@import url("https://use.typekit.net/ivq4uiu.css");
$accent: rgb(57, 205, 231);
$accentDarker: darken(
  $color: $accent,
  $amount: 20
);
// Primary Pallette //
$primary-blue: rgb(38, 81, 180);
$primary-blue--lighter: #3e8bbb;
$accent-orange: rgb(206, 143, 55);
// Background Colors //
$bg-darkest-grey: #121622;
$bg-dark-grey: #1b2133;
$bg-medium-grey: #292b3f;
$bg-light-grey: #37394d;
$bg-lightest-grey: #6b737e;
// Text Colors //
$text-light: #ededef;
$text-light-adaptive: rgba(237, 237, 239, 0.702);
$text-dark: #292832;
$text-dark-adaptive: rgba(41, 40, 50, 0.702);
// Gradients //
$radial-primary: radial-gradient(
  circle,
  $primary-blue--lighter 0%,
  $primary-blue 52%
);
$radial-dark: radial-gradient(
  circle, 
  hsl(223, 32%, 11%) 0%,
  hsl(222, 33%, 6%) 100%
);
$linear-dark: linear-gradient(
  180deg,
  rgba(43, 42, 52, 1) 0%,
  rgba(57, 56, 70, 1) 100%
);
.has-vertically-aligned-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.is-horizontal-center {
  justify-content: center;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}



