@import url("https://use.typekit.net/ivq4uiu.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* MEDIA QUERIES */
@media (max-width: 2160px) {
  .trailer {
    color: red;
  }
}

@media (max-width: 2560px) {
  .hero {
    padding-bottom: 5rem;
  }
  .newsletter {
    margin-bottom: 15rem !important;
  }
}

@media (max-width: 1920px) {
  .trailer {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .newsletter {
    margin-bottom: 15rem !important;
  }
  .description {
    margin-bottom: 12rem !important;
  }
}

@media (min-width: 1200px) {
  .trailer {
    margin-top: -8rem !important;
    margin-bottom: 5rem;
  }
  .newsletter {
    margin-bottom: 15rem !important;
  }
  .description {
    margin-bottom: 10rem !important;
  }
}

@media (max-width: 1088px) {
  .trailer {
    margin-top: 0rem !important;
    margin-bottom: 3rem !important;
    padding: 20px;
    height: auto;
    border-radius: 5px !important;
  }
  .trailer .title {
    display: block !important;
  }
  .trailer iframe {
    height: 40vh !important;
  }
  .trailer .youtube img {
    width: 100%;
    top: -0%;
  }
  .description {
    padding: 20px;
    margin-bottom: 1rem;
  }
  .description .title {
    font-size: 2rem !important;
  }
  .newsletter {
    text-align: center;
    margin-top: 5rem !important;
    padding: 10px !important;
  }
  .newsletter input {
    font-size: 1.2rem !important;
  }
  .newsletter input::placeholder {
    font-size: 1.2rem !important;
  }
  .newsletter .newsletter-btn {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 25vw;
    font-size: 0.9rem !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .hero .hero-body .logo {
    width: 150px;
  }
  .hero .navbar .navbar-brand {
    justify-content: center !important;
  }
  .hero .navbar .navbar-brand .navbar-item img {
    margin-top: -6px !important;
  }
  .youtube .play-button,
  .youtube .play-button:before {
    top: 50% !important;
  }
}

.has-vertically-aligned-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.is-horizontal-center {
  justify-content: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  background: radial-gradient(circle, #131825 0%, #0a0d14 100%);
  height: 100%;
  font-family: hypatia-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.title {
  font-family: hypatia-sans-pro, sans-serif;
  font-weight: 600 !important;
  font-size: 5rem !important;
  letter-spacing: .02rem;
  color: #e7e7e7 !important;
  padding-bottom: 3rem;
}

.no-webp .hero {
  background: linear-gradient(rgba(22, 26, 41, 0.65), rgba(29, 34, 54, 0.95)), url("//cdn.samuraizero.com/img/bgZero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* main page styles */
section.hero {
  background: linear-gradient(rgba(22, 26, 41, 0.65), rgba(29, 34, 54, 0.95)), url("//cdn.samuraizero.com/img/bgZero.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

section.hero header::after {
  content: "";
  height: 20px;
  display: block;
  background: url("//cdn.samuraizero.com/img/rip-nav.svg") bottom left;
  /* background-size: 100%; */
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

section.hero header.navbar {
  background: radial-gradient(circle, #131825 0%, #0a0d14 100%);
  height: auto;
  position: relative;
  height: 65px;
}

section.hero header .navbar-item img {
  height: 75px;
  max-height: none;
}

section.hero .logo {
  margin: 20px;
  animation-name: spin;
  animation-duration: 250000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

section.hero .preface {
  font-family: hypatia-sans-pro, sans-serif;
  line-height: 1.2;
  color: #e7e7e7;
  font-size: 1.4rem;
  letter-spacing: .02rem;
  text-align: left;
}

section.trailer {
  margin-top: -15rem;
  background: radial-gradient(ellipse at center -50%, #18334f 0%, #18334f 18%, #192532 57%, #192532 100%);
  /* blue tone */
}

section.trailer .title {
  font-size: 1.7rem !important;
  text-align: center;
  padding-bottom: 0;
  color: #e7e7e7;
  display: none;
}

section.description {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section.description .title {
  font-size: 2.5rem !important;
}

section.description .subtitle {
  font-family: hypatia-sans-pro, sans-serif;
  line-height: 1.2;
  color: #e7e7e7;
  font-size: 1.3rem;
  letter-spacing: .02rem;
}

section.newsletter {
  background: #49596e;
  padding: 50px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  height: auto;
  position: relative;
  color: #e7e7e7;
}

section.newsletter .newsletter-btn {
  font-family: hypatia-sans-pro, sans-serif;
}

section.newsletter .title {
  font-size: 2.5rem !important;
  margin-bottom: 0px !important;
}

section.newsletter p {
  font-size: 1.4rem;
  padding-right: 2rem;
  letter-spacing: .02rem;
}

section.newsletter::after {
  content: "";
  height: 20px;
  display: block;
  background: url("//cdn.samuraizero.com/img/rip-darkAccent-up.svg") bottom left;
  /* background-size: 100%; */
  position: absolute;
  top: -5%;
  left: 0;
  width: 100%;
}

section.newsletter::before {
  content: "";
  height: 20px;
  display: block;
  background: url("//cdn.samuraizero.com/img/rip-darkAccent.svg") top left;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

section.newsletter .sign-up {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

section.newsletter .sign-up .field {
  height: 45px;
}

section.newsletter .sign-up input {
  font-family: hypatia-sans-pro, sans-serif;
  height: 45px;
  line-height: 45px;
  border: none;
  background: #292b3f;
  color: #ededef;
  font-size: 1.6rem;
}

section.newsletter .sign-up input::placeholder {
  font-size: 1.4rem;
  color: #ededef;
  font-family: hypatia-sans-pro, sans-serif;
}

section.newsletter .sign-up .field {
  width: 100% !important;
}

section.newsletter .sign-up .newsletter-btn {
  height: 45px;
  font-size: 1.2rem;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
  font-weight: 600;
  background-color: #121622;
  font-family: hypatia-sans-pro, sans-serif;
  text-transform: uppercase;
  color: #ededef;
  left: -5px;
}

footer {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
}

footer .footer-links {
  font-family: hypatia-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 20px;
}

footer .footer-links ul li {
  display: inline;
  padding: 25px;
}

footer .footer-links a {
  color: #e7e7e7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .7rem;
}

/* modifier classes */
.is-danger {
  border-color: #ff2c3c !important;
  color: #ff2c3c !important;
}

.is-danger:hover {
  background: rgba(0, 0, 0, 0) !important;
  border-color: #c9c9c9 !important;
  color: #e7e7e7 !important;
  transition: all .2s ease-in-out;
}

.is-danger:hover .zero {
  color: #ff2c3c !important;
}

/* iframe hacks */
.wrapper {
  max-width: 1366px;
  margin: 80px auto;
  padding: 0 20px;
  max-height: 556px;
  overflow: hidden;
}

.youtube {
  background-color: #000;
  height: 100%;
  margin-bottom: 30px;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  cursor: pointer;
  border-radius: 5px !important;
  overflow: hidden;
}

.youtube img {
  width: 100%;
  top: -12.82%;
  left: 0;
  object-fit: fill;
  object-position: center;
}

.youtube .play-button {
  width: 90px;
  height: 60px;
  z-index: 999;
}

.youtube .play-button:before {
  content: "";
  border-style: solid;
  border-width: 15px 0 15px 26.0px;
  border-color: transparent transparent transparent #e20e0e;
  top: 20 !important;
}

.youtube img,
.youtube .play-button {
  cursor: pointer;
}

.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
  position: absolute;
}

.youtube .play-button,
.youtube .play-button:before {
  top: 40%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  opacity: .8;
}

.trailer {
  border-radius: 5px !important;
  overflow: hidden;
}

.youtube iframe {
  height: 556px;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 5px !important;
}
