@import '_reset'; 
@import '_media-queries';
@import '_vars';
 

html {
  background: $radial-dark;  
  height: 100%;
  font-family: hypatia-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;       
}
         
.title {
  font-family: hypatia-sans-pro, sans-serif; 
  font-weight: 600 !important;
  font-size: 5rem !important;
  letter-spacing: .02rem;
  color: #e7e7e7 !important;
  padding-bottom: 3rem;
}    
.no-webp .hero {
  background: linear-gradient(rgba(22, 26, 41, 0.65), rgba(29, 34, 54, 0.95)), url("//cdn.samuraizero.com/img/bgZero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* main page styles */   
section {
  &.hero {
    background: linear-gradient(rgba(22, 26, 41, 0.65), rgba(29, 34, 54, 0.95)), url("//cdn.samuraizero.com/img/bgZero.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    header {
      &::after {
        content: "";       
        height: 20px;
        display: block;
        background: url('//cdn.samuraizero.com/img/rip-nav.svg') bottom left;
        /* background-size: 100%; */
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
      }
      &.navbar {
        background: $radial-dark;
        height: auto;
        position: relative;
        height: 65px;
      }
      .navbar-item {
        img {   
          height: 75px;
          max-height: none;
        }
      }
    }
    .logo {
      margin: 20px;
      animation-name: spin;
      animation-duration: 250000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    } 
    .preface {
      font-family: hypatia-sans-pro, sans-serif;
      line-height: 1.2;
      color: #e7e7e7;
      font-size: 1.4rem;  
      letter-spacing: .02rem; 
      text-align: left;  
    }   
  }
  &.trailer {
    margin-top: -15rem;
    background: radial-gradient(ellipse at center -50%, #18334f 0%,#18334f 18%,#192532 57%,#192532 100%); /* blue tone */

    .title {
      font-size: 1.7rem!important;
      text-align: center;
      padding-bottom: 0;
      color: #e7e7e7;
      display: none;
    }
  }
  &.description {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title {
      font-size: 2.5rem !important;
    }
    .subtitle {
      font-family: hypatia-sans-pro, sans-serif;
      line-height: 1.2;
      color: #e7e7e7;
      font-size: 1.3rem;
      letter-spacing: .02rem;
    }
  }      
  &.newsletter {
    background: $darkAccentLighter;  
    padding: 50px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    height: auto;
    position: relative; 
    color: #e7e7e7;   
    .newsletter-btn {
      font-family: hypatia-sans-pro, sans-serif;
    }
    .title {
      font-size: 2.5rem!important;
      margin-bottom: 0px!important;
    }
    p {
      font-size: 1.4rem;
      padding-right: 2rem; 
      letter-spacing: .02rem;
    }
    &::after {
      content: ""; 
      height: 20px;
      display: block;
      background: url('//cdn.samuraizero.com/img/rip-darkAccent-up.svg') bottom left;
      /* background-size: 100%; */
      position: absolute;
      top: -5%;
      left: 0;
      width: 100%;
    }
    &::before {
      content: "";
      height: 20px;
      display: block;
      background: url('//cdn.samuraizero.com/img/rip-darkAccent.svg') top left;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
    }
    .sign-up {
      margin-top: 1rem;
      margin-bottom: 1rem;
      .field {
        height: 45px;
      }
      input {
        font-family: hypatia-sans-pro, sans-serif;
        height: 45px;
        line-height: 45px;
        border: none;  
        background: $bg-medium-grey;
        color: $text-light;
        font-size: 1.6rem;
        &::placeholder {
          font-size: 1.4rem;
          color: $text-light;
          font-family: hypatia-sans-pro, sans-serif;
        }
      }
      
     .field {
       width: 100%!important;
     }
      .newsletter-btn {
        height: 45px;
        font-size: 1.2rem;
        padding-left: 25px;
        padding-right: 25px;        
        border: none;
        font-weight: 600;
        background-color: $bg-darkest-grey;
        font-family: hypatia-sans-pro, sans-serif;
        text-transform: uppercase;
        color: $text-light;
        left: -5px;
      }
    }
  }
}

footer {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  .footer-links {
    font-family: hypatia-sans-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 20px;
    ul li {
      display: inline;
      padding: 25px;
    }
    a {
      color: #e7e7e7;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: .7rem;
    }
}
}



/* modifier classes */

.is-danger {
  border-color: $zeroRed !important;
  color: $zeroRed !important;
  &:hover {
    background: rgba(0, 0, 0, 0) !important;
    border-color: rgb(201, 201, 201) !important;
    color: #e7e7e7 !important;
    transition: all .2s ease-in-out;

    .zero {
      color: $zeroRed !important;
    }
  }  
}



/* iframe hacks */


.wrapper {
	max-width: 1366px;
	margin: 80px auto;
	padding: 0 20px;
  max-height: 556px;
  overflow: hidden;
}

.youtube {
  background-color: #000;
	height: 100%;
	margin-bottom: 30px;
	position: relative;
	padding-top: 56.25%;
	overflow: hidden;
	cursor: pointer;
  border-radius: 5px!important;

  overflow: hidden;
}
.youtube img {
	width: 100%;     
	top: -12.82%; 
	left: 0;
  object-fit: fill; 
  object-position: center; 
}
.youtube .play-button {       
	width: 90px; 
  height: 60px;
  z-index: 999;
}
.youtube .play-button:before {
	content: ""; 
	border-style: solid;
	border-width: 15px 0 15px 26.0px;
	border-color: transparent transparent transparent rgb(226, 14, 14);
  top: 20!important;
}
.youtube img,
.youtube .play-button {
	cursor: pointer;
}
.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
	position: absolute;  
}
.youtube .play-button,
.youtube .play-button:before {
	top: 40%;
	left: 50%;
  transform: translate3d( -50%, -50%, 0 );
  opacity: .8;
}
.trailer {  
  border-radius: 5px!important;
  overflow: hidden;
}
.youtube iframe {
	height: 556px;
	width: 100%;
	top: 0;
  left: 0;
  border-radius: 5px!important;
}